@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

.header {
    display: flex;
    padding: 10px;   
    align-items: center;
    border: 2px solid black;
}

.heading {
    font-size: 50px;
    font-family: "nunito", "sans-serif";
    margin: 0px;
    margin: auto;
}

.track-container {
    display: flex;
    /*flex-direction: column;*/
    height: 100%;
}

.reel-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: -2px;
}

.reel {
    width: 150px;
    height: 100%;
    padding: 10px 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.track-categories {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 10%;
}

.track-info {
    border: 2px solid black; 
    border-radius: 10px;
    width: 30vw;
    height: 30vw;
    margin: 50px;
}